* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------------*/
.background__header {
  background: -webkit-gradient(linear, left top, left bottom, from(#7ABABA), color-stop(#77B7B7), color-stop(#79B9B9), to(#7BBBBB));
  background: -webkit-linear-gradient(#7ABABA, #77B7B7, #79B9B9, #7BBBBB);
  background: -o-linear-gradient(#7ABABA, #77B7B7, #79B9B9, #7BBBBB);
  background: linear-gradient(#7ABABA, #77B7B7, #79B9B9, #7BBBBB);
  width: 2807px;
  margin: 0 auto; }

.background__about {
  background: -webkit-gradient(linear, left top, left bottom, from(#E1DCCC), color-stop(#DFDACA), color-stop(#E2DDCD), to(#E0DBCB));
  background: -webkit-linear-gradient(#E1DCCC, #DFDACA, #E2DDCD, #E0DBCB);
  background: -o-linear-gradient(#E1DCCC, #DFDACA, #E2DDCD, #E0DBCB);
  background: linear-gradient(#E1DCCC, #DFDACA, #E2DDCD, #E0DBCB);
  width: 2807px;
  margin: 0 auto; }

.background__portfolio {
  background: -webkit-gradient(linear, left top, left bottom, from(#E28968), color-stop(#E38B69), color-stop(#E18867), to(#E08866));
  background: -webkit-linear-gradient(#E28968, #E38B69, #E18867, #E08866);
  background: -o-linear-gradient(#E28968, #E38B69, #E18867, #E08866);
  background: linear-gradient(#E28968, #E38B69, #E18867, #E08866);
  width: 2807px;
  margin: 0 auto; }

.background__blog {
  background: -webkit-gradient(linear, left top, left bottom, from(#DEDBD8), color-stop(#E0DDDB), color-stop(#DDDAD8), to(#DFDCD9));
  background: -webkit-linear-gradient(#DEDBD8, #E0DDDB, #DDDAD8, #DFDCD9);
  background: -o-linear-gradient(#DEDBD8, #E0DDDB, #DDDAD8, #DFDCD9);
  background: linear-gradient(#DEDBD8, #E0DDDB, #DDDAD8, #DFDCD9);
  width: 2807px;
  margin: 0 auto; }

.background__contact {
  background: -webkit-gradient(linear, left top, left bottom, from(#4D5158), color-stop(#4B4F55), color-stop(#4E5258), to(#4F535A));
  background: -webkit-linear-gradient(#4D5158, #4B4F55, #4E5258, #4F535A);
  background: -o-linear-gradient(#4D5158, #4B4F55, #4E5258, #4F535A);
  background: linear-gradient(#4D5158, #4B4F55, #4E5258, #4F535A);
  width: 2807px;
  margin: 0 auto; }

.header__menu {
  padding: 12px 0; }

.header__image {
  text-align: center; }

.container {
  width: 1927px;
  margin: 0 auto; }

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 310px;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu__about {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #f9ebd9;
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase; }

.menu__portfolio {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #f9ebd9;
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase; }

.menu__blog {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #f9ebd9;
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase; }

.menu__contact {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #f9ebd9;
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase; }

.image__retro-p {
  padding: 66px 0px 100px 0px; }

.camera__text {
  color: #f7ebd8;
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 62px 0px 107px 0; }

.about-top__row {
  text-align: center;
  padding: 100px 0px 0px 0px; }

.about-top__text {
  padding: 0px 0px 85px 0px;
  color: #38353e;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase; }

.about-top-p__image {
  padding: 22px 0px 23px 0px; }

.about-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 0px 0px 145px 0px; }

.about-list__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%; }

.about-list__title {
  color: #383a3c;
  font-size: 54px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 50px 0px 37px; }

.about-list__p {
  color: #383a3c;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 0px 33px 0px; }

.about-list__text {
  height: 478px;
  color: #383a3c;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  padding: 0px 21.5px; }

.portfolio-top__row {
  text-align: center;
  padding: 101px 0px 0px 0px; }

.portfolio-top__text {
  padding: 0px 0px 85px 0px;
  color: #38353e;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase; }

.portfolio-top-p__image {
  padding: 22px 0px 23px 0px; }

.portfolio-list__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120px;
  margin: 0px 0px 0px 20px; }
  .portfolio-list__menu p {
    color: #383a3c;
    font-size: 32px;
    font-weight: 400; }
  .portfolio-list__menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .portfolio-list__menu li {
    color: #383a3c;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 17px 18px 47px;
    margin: 0px 0px 0px 20px;
    background-color: #fff;
    border-radius: 50% 5px 5px 50%; }

.portfolio-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.portfolio-list__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 22.9%;
  flex: 1 1 22.9%;
  text-align: center;
  margin: 0px 20px 40px 20px; }

.column__background {
  position: relative;
  border-radius: 5px;
  width: 440px;
  height: 442px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  background-color: #fbfaf6; }

.column__silver {
  position: absolute;
  width: 424px;
  height: 318px;
  background-color: #e3dfd7;
  margin: 8px 0px 0px 8px;
  z-index: 1; }

.column__cirlce {
  position: absolute;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  background-color: #fbfaf6;
  z-index: 2;
  bottom: 55px;
  left: 176px; }

.column__image {
  position: absolute;
  z-index: 3;
  bottom: 75px;
  left: 196px; }

.column__text {
  position: absolute;
  z-index: 4;
  bottom: 33px;
  left: 60px;
  color: #383a3c;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase; }

.portfolio-buttom__row {
  text-align: center; }

.portfolio-buttom__text {
  color: #38353e;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 0px 113px 0px; }

.blog-top__row {
  padding: 103px 0px 0px 0px;
  text-align: center; }

.blog-top__text {
  padding: 0px 0px 85px 0px;
  color: #38353e;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase; }

.blog-top-p__image {
  padding: 22px 0px 23px 0px; }

.blog-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 64px 0px; }

.blog-main__title {
  color: #383a3c;
  font-size: 48px;
  font-weight: 700;
  padding: 18px 0px 13px 0px; }

.blog-main__string {
  padding: 23px 0px 34px 0px; }

.blog-main-row__column {
  padding: 0px 20.5px 0px 20px; }

.blog-main-h6__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.blog-main-h6__column {
  color: #383a3c;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase; }

.blog-main-text {
  color: #383a3c;
  font-family: "Roboto Slab";
  font-size: 32px;
  font-weight: 400;
  line-height: 57px; }

.blog-buttom__row {
  padding: 28px 0px 113px 0px;
  text-align: center; }

.blog-buttom__text {
  color: #38353e;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase; }

.contact-top__row {
  padding: 102px 0px 0px 0px;
  text-align: center; }

.contact-top__text {
  padding: 0px 0px 85px 0px;
  color: #f6edd8;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase; }

.contact-top-p__image {
  padding: 22px 0px 23px 0px; }

.contact-box__row {
  width: 961px;
  height: 704px;
  margin: 0 auto; }
  .contact-box__row div {
    width: 100%;
    height: 74px;
    padding: 0px 0px 20px 0px; }
    .contact-box__row div input {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      color: #a9a9a9;
      font-size: 32px;
      font-weight: 400;
      padding: 0px 16px; }
    .contact-box__row div textarea {
      width: 100%;
      height: 326px;
      border-radius: 5px;
      color: #a9a9a9;
      font-size: 32px;
      font-weight: 400;
      padding: 26px 16px; }
    .contact-box__row div button {
      padding: 23px 34px 17px 34px;
      border-radius: 5px;
      color: #383a3c;
      font-size: 32px;
      font-weight: 700;
      margin-top: 275px;
      background-color: #fff; }

.contact-box__footer {
  text-align: center; }

.footer-row__text {
  color: #f6edd8;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase; }

.footer-row__image {
  padding: 19px 0px 33px 0px; }

.avatar__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  margin: 0 auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0px 0px 133px 0px; }
